.main-footer {
    color: white;
    background-color: #023C59;
    padding-top: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    
  
  }

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 
                           minmax(200px, 1fr));
    grid-gap: 110px;
     
    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, 
                             minmax(200px, 1fr));
}}
/*.col {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
}*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
.list-unstyled {
    color: #fff;
    margin-bottom: 10px;
    font-size: 17px;
    text-decoration: none;
}
.h {
  font-size: 22px;
  color: #fff;
  margin-bottom: 18px;
  font-weight: bold;
  justify-content: center;
}
a{
  color: #fff;
}
p{
  font-style: italic;
}



