.App{
   
    height: 100vh;
    background-size: 100%;
   
}
.cfb{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colAuth{
    position: absolute;
    z-index: 2;
    right: 65%;

    border: 0.1em solid #592941;
    border-radius: 0.5em;

    width: 35%;
    height: 102%;
    flex-direction: column;
   background-color: #023C59;
   background-image: url('../../assets/images/log.png'); 
   background-size: 100% 100%;
    opacity: 1;
    color: #EEFCF8;
    text-align: center;

    transition: 2s;
    
}
.colAuth1{
    position: absolute;
    z-index: 1;
    right: 0;
    padding-top: 13%;
    border: 0.1em solid #592941;
    border-radius: 0.5em;

    width: 65%;
    height: 102%;

    background-color: #EEFCF8;
    opacity: 1;

    font-weight: bold;
    color: #023C59;

    transition: 2s;
}
.form-comp{
    flex-direction: column;
    padding-top: 2%;
}

.sign-up-form{
    width: 50%;
    flex-direction: column;
}

.sign-up-form > label{
    padding: 0.5em;
    width: 100%
}

.sign-up-form > label > input{
    width: 100%
}
.labl{
    margin-top: -3%;
}
.butt {
    padding: 1em;

    border: 1px solid #EEFCF8;
    border-radius: 5em;
    
    background-color: #023C59;

    color: #EEFCF8;
    font-weight: bold;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

button:hover{
    opacity: 0.9;
}

/* All Inputs Styling */
input {
    padding: 0.35em;
    border: 1px solid #023C59;
}
.mdpoublie{
    text-align: left;
    color: black;
    margin-left: 250px;

}
select {
    width: 100%;
    padding: 6.5px 18px;
    border: 1px solid #023C59;
    border-radius: 0px;
    
}
.BorderAuth{
    border: 0.2em solid #023C59;
    border-radius: 1em;
    background-color: white;
  
    padding-top: 0%;

}
.backgAuth{
    padding-top: 10%;
    background-color: #A9F4F7;
    height: 100%;
}